/* Layouts */

.main-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
}

.content-container {
  padding: 0 1rem;
}

.location-and-time-area {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.7rem 0;
  height: 7rem;
}

.time-area {
  text-align: right;
}

.time-icon {
  display: flex;
  justify-content: flex-end;
}

.nav-area {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  text-transform: uppercase;
}

.nav-section-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 33.3%;
  text-align: center;
}

.nav-section-mid-area {
  width: 0.5rem;
}

.weather-today-area {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-experiment {
  /* width: 40%; */
  justify-content: center;
  display: flex;
}

.weather-today svg {
  height: 4.75rem;
  width: 4.75rem;
  flex-grow: 2;
}

.weather-today-degrees {
  font-size: 5rem;
}

.weather-today-subtext {
  justify-content: flex-end;
}

.weather-today-gutter {
  width: 1.5rem;
}

.weather-today-left-area {
  padding-right: 1.75rem;
}

.forecast-first-three,
.forecast-last-two {
  display: flex;
  text-transform: uppercase;
}

.forecast-first-three {
  justify-content: space-between;
}

.forecast-last-two {
  justify-content: center;
}

.forecast-gutter {
  width: 5%;
}

.forecast-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  min-height: 5rem;
  justify-content: center;
  padding: .75rem 0;
}

.forecast-area img,
.forecast-area svg {
  padding: 0.5rem 0;
}

.forecast-degrees {
  padding-left: 0.35rem;
}

.weather-today-area .feather-cloud-rain line,
.forecast-area .feather-cloud-rain line {
  color: #3498db;
}

@media (min-width: 769px) {
  .main-container {
    width: 30%;
    height: 90%;
    margin-top: 1.5rem;
  }
  .location-and-time-area {
    padding: 1rem 1.5rem 0;
  }
  .nav-section-area {
    min-width: 32%;
  }
}

/* Styling */

:root {
  --primaryColor: #2c3e50;
  --secondaryColor: #fcf3d2;
  --toggleColor: #2c3e50;
}

body {
  letter-spacing: 0.4px;
  background-color: #eaf1f3;
  font-family: 'Lato', serif;
  color: #2c3e50;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #7f8c8d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggleColor);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off {
  font-weight: bold;
  color: var(--toggleColor);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  /* font-size: 10px; */
  /* font-family: Verdana, sans-serif; */
}



input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  opacity: .9;
}

.slider.round:hover {
  opacity: 1;;
}

/* @keyframes toggleHover {
    0% {
      opacity: 0.9
    }
    100% {
      opacity: 1;
      border: 1px solid #2c3e50;
    }
} */

.slider.round:before {
  border-radius: 50%;
  /* opacity: 0.9 */
}

/* .slider.round:before:hover {
  opacity: 1;
} */

.main-container {
  border: 0 solid #eaf1f3;
  border-radius: 0.5rem;
  box-shadow: rgba(23,43,99,0.26) 0 7px 42px;
}

.location-and-time-area {
  font-family: 'Lustria', serif;
  font-weight: bold;
  color: var(--primaryColor);
}

.location-and-time-area,
.nav-area {
  background-color: var(--secondaryColor);
}

.feather-clock,
.nav-area .weather-area {
  stroke: var(--primaryColor);
  color: var(--primaryColor);
}

.weather-today-area .feather-sun,
.forecast-area .feather-sun {
  stroke: #de7c4d;
}

.nav-area {
  font-size: 0.75rem;
  font-weight: bold;
}

.nav-text {
  color: var(--primaryColor);
  opacity: 0.3;
}

.weather-today-weekday {
  text-transform: uppercase;
}

.weather-today-area,
.forecast-first-three,
.forecast-last-two {
  background-color: #fff;
}

.forecast-first-three,
.forecast-last-two {
  font-weight: bold;
}

.forecast-weekday {
  background-color: rgba(189, 195, 199, 0.4);
  border-radius: 0.25rem;
  padding: 0.3rem;
  font-size: 0.75rem;
}

.nav-area {
  padding-bottom: 0.5rem;
}

.weather-today-weekday {
  text-transform: none;
}
